* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    background: linear-gradient(288deg, #C2E9FB 0%, #A1C4FD 100%);
    font-size: 1.6rem;

    display: grid;
    place-items: center;

    height: 100vh;
    color: #34355B;
}

body,
button,
input {
    font-family: 'DM Sans', sans-serif;
}

button {
    background-color: #7879F1;
    color: #FFF;
    font-weight: bold;
    border-radius: 0 .4rem .4rem 0;
    cursor: pointer;

    transition: background 3.s;
}

button:hover {
    background-color: #5656c9;
}

.hide {
    display: none;
}

/* screen-one */

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.4rem;
    font-weight: 600;
    text-align: center;

    color: #34355B;

    margin-bottom: 1.6rem;

}

p {
    color: rgba(52, 53, 91, 0.80);
    text-align: center;
    line-height: 2.4rem;
    font-weight: 400;

    margin-bottom: 4.8rem;
}



main {
    margin-top: -12rem;
    padding: 4.8rem 6.4rem 6.4rem 6.4rem;

    border-radius: .6rem;
    background: #FFF;
    box-shadow: 0 .2rem .4rem 0 rgba(0, 0, 0, 0.10);

    width: min(46.5rem, 90%);

    text-align: center;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
}

input,
button {
    border: none;
    padding: 1.6rem;
}

input {
    background-color: #DCE2E9;
    width: 6rem;
    border-radius: .4rem 0 0 .4rem;
}

/* screen-two */

h2 {
    font-size: 2.4rem;
    font-weight: 400;
    width: 100%;
    margin-bottom: 3.3rem;
}

.screen-two button {
    border-radius: .4rem;
}